
body {
    font-family: $family;
    background-color: $color_secundario;    
}

input:focus {
    outline: none;
}

.btn_pag {
    background-color: transparent;
    color: $color_principal;
}

.btn_pag:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.color_principal {
    color: $color_principal;
}

.color_hp {
    color: $color_salud;
}

.color_atk {
    color: $color_ataque;
}

.color_esp_atk {
    color: $color_ataque_especial;
}

.color_def {
    color: $color_defensa;
}

.color_esp_def {
    color: $color_defensa_especial;
}

.color_velocidad {
    color: $color_velocidad;
}

.hr_modal {
    color: $color_principal;
}

.input_search::placeholder {
    font-style: italic;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-content{
    background-color: $color_secundario;
}