$family: 'Carter One', cursive;

$blanco: #fff;
$negro: #000;

$color_principal: #ff2e00;
$color_secundario: #ffb852;

$color_salud: #00a81c;
$color_ataque: #ff0000;
$color_defensa: #000bcf;

$sombra_nav: 0px 7px 15px -6px $negro;
$sombra_listElement: 0px 0px 15px -2px $negro;
$sombra_btn: 0px 0px 15px -4px $negro;
$sombra_input_search: -7px 0px 25px -15px $negro;
$sombra_btn_search: 12px 0px 25px -13px $negro;